.generate-form {
  display: flex !important;
  justify-content: center;
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #28254b;
  font-family: "Press Start 2P";
  text-align: center;
}

.intro-text {
  text-align: center;
  font-size: 30px;
}

.result {
  display: flex;
}
